/* Remove a margem e o preenchimento padrão de todos os elementos da página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
}

/* Define o estilo base do corpo da página */
body {
  background-color: wheat; /* Cor de fundo clara e suave */
  font-family: Arial, sans-serif; /* Fonte principal do texto */
  padding: 20px; /* Espaçamento interno */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

.form-group{
  padding: 10px;
}

.login-container{
  background-color:bisque;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
  border-radius: 10px;

}

.entrar{
  align-items: center;
}
